<div class="hero" ng-controller="CreateController as create">
<section class="in-create-section" ng-show="appflow=='create-message'">
    <p class="in-message" >Tell the world what's unique about you</p>
<form>
  <input type="text" ng-model='myName' placeholder="My name is...."/>
    <textarea class="in-text-area" placeholder="I'm Like no other because..." maxlength="140" rows="1" ng-model='myReason'></textarea>
    <span class="in-form-highlight"></span>
    <span class="in-form-bar"></span>
    <label>140 chars. left to express your awesomeness</label>
</form>
<a class="in-next-button" ng-click="changeview('upload-image')" ng-hide="continueFirstPart()">Continue</a>
</section>


<section class="in-create-section" ng-show="appflow=='select-avatar'">
    <p class="in-message">Select an Avatar Below</p>
   <div class="in-avatar-preview-area">
       <div class="in-avatar-image">
           <img src="">
       </div>
       <a ng-click="modal.activate()" class="in-change-avatar-btn">Change Avatar
       </a>
    </div>
<!--
   <div zf-modal="" id="avatarCatalog" class="in-avatar-carousel-area">
      <a zf-close="" class="close-button">×</a>
       <ul class="in-avatar-carousel">
           <li class="in-avatar-thumbnail">
               <img src="../images/knewbie.png">
           </li>
       </ul>
   </div>
-->

<a class="in-prev-button" ng-click="changeview('create-message')">Back</a>
<a class="in-next-button" ng-click="changeview('upload-image')">Continue</a>
</section>


<section class="in-create-section" ng-show="appflow=='upload-image'">

    <p class="in-message">Choose a face for your image</p>
    <div class="in-avatar-preview-area">

      <div class="in-avatar-image" ng-show="webcam" id="webcam_holder"></div>

      <div class="demo_container in-avatar-image" id="user_frame" ng-hide="webcam">
          <img id='user_blob'/>
      </div>

        <button class="in-upload-btn in-floating-button" ng-show='webcam' onclick="takeWebcamPicture()">Take Snapshot</button>
        <span class="in-avatar-caption" ng-show='start'>Use a clear image of your face</span>
        <span class="in-avatar-caption" ng-show='webcam'>Position and take a snapshot</span>
        <span class="in-avatar-caption" ng-show='checkNoFaceCount()'>No face was detected in the picture. Probably due to it's quality. Select a face you want to use instead by dragging over the image</span>
        <span class="in-avatar-caption" ng-show='checkSingleFaceCount()'>A face was detected. You can still adjust the area you want to use by dragging the crop box if you are not satisfied</span>
        <span class="in-avatar-caption" ng-show='checkFaceCount()'>Looks that there is more than one face in this picture. Select the face you want to use by dragging over the image</span>
        <span class="in-avatar-caption" ng-show='continue'>Nice. Face selected. Let's continue</span>
    </div>
    <div class="in-action-choices-area">

        <div class="fileholder"><input type="file" name="file" id="file" accept="image/*" file-model="myFile" onchange="changeFile(this)"/></div><!--onchange="showPreview(this)"-->
        <button class="in-upload-btn" onclick="callUpload()">Upload a photo</button>
        <button class="in-upload-btn" onclick="callWebcam()">Use Webcam</button>

       <!--<span>or</span>

            <!--<button class="in-capture-btn">Take a Webcam Photo</button>-->
        </div>

    <a class="in-prev-button" ng-click="changeview('create-message')">Back</a>
    <a class="in-next-button" ng-click="uploadFile()">Continue</a>
</section>


<section class="in-create-section" ng-show="appflow=='edit-pic'">

    <p class="in-message">Edit your avatar</p>
    <div class="in-avatar-preview-area" id="in-avatar-preview-area">
        <div class="in-avatar-image">
            <img id="the_avatar" ng-src="images/assets/headers/{{avatarimage}}{{avatardate}}">
        </div>
    </div>

    <div class="in-cartoon-parameters">
      <div>Pattern</div>
      <input type="range" id="pattern" ng-model="pattern" min="0" max="100" value="70"/><span ng-bind="pattern"></span>
      <br/>
      <br/>

      <div>Number Of Levels</div>
      <input type="range" id="numlevels" ng-model="numlevels" min="2" max="100" value="6"/><span ng-bind="numlevels"></span>
      <br/>
      <br/>

      <div>Edge Method</div>
      <input type="range" id="edgemethod" ng-model="edgemethod" min="1" max="2" value="1"/><span ng-bind="edgemethod"></span>
      <br/>
      <br/>

      <div>Edge Amount</div>
      <input type="range" id="edgeamount" ng-model="edgeamount" min="0" max="100" value="4"/><span ng-bind="edgeamount"></span>
      <br/>
      <br/>

      <div>Brightness</div>
      <input type="range" id="brightness" ng-model="brightness" min="0" max="200" value="100"/><span ng-bind="brightness"></span>
      <br/>
      <br/>

      <div>Saturation</div>
      <input type="range" id="saturation" ng-model="saturation" min="0" max="200" value="150"/><span ng-bind="saturation"></span>
      <br/>
      <br/>

      <button class="in-upload-btn" ng-click="editPicture()">Apply</button>
    </div>


        <a class="in-prev-button" ng-click="changeview('upload-image')">Back</a>
        <a class="in-next-button" ng-click="changeview('share-pic')">Continue</a>
    <!--<a class="in-next-button" ng-click="" ng-href="#/vote">Submit for Voting</a>-->

</section>

<section class="in-create-section" ng-show="appflow=='share-pic'" >

  <p class="in-message"> Congratulations You've Created your avatar</p>
  <div class="in-avatar-preview-area" id="in-avatar-preview-area">
      <div class="in-avatar-image">
        <img src="images/header_logo.png" id="indomie_logo" ng-show="indomie">

        <!--<canvas id="image_canvas" width="540" height="400" >
          Your browser does not support the HTML5 canvas tag.
        </canvas>-->

        <img ng-src="images/assets/headers/{{avatarimage}}">
      </div>
  </div>

  <div class="in-action-choices-area">
      <a facebook-feed-share class="in-share-btn" data-picture="images/assets/headers/{{avatarimage}}" data-url='http://google.com'  data-shares='shares' data-description="Example text">Share to Facebook</a>
      <a class="in-share-btn" target="_blank" href="https://twitter.com/intent/tweet?text=Share%20your%20indomie%20avatar&button_hashtag=IndomieContest">Share to Twitter</a>

      <a gplus class="in-share-btn" data-size="tall" data-href='http://google.com' data-action='share'></a>
      <a pintrest data-href='http://google.com' class="in-share-btn"  data-description='testing share' data-img='http://plnkr.co/img/plunker.png' data-pin-do='buttonPin' data-pin-config='beside'>Pin This</a>
      <a class="in-share-btn" ng-click="download()">Download</a>
      <!--<a class="in-share-btn">Tag Friends</a>ng-click="download()"<span class='large_guys' ng-bind-html="getNameForDisplay()"></span>-->
  </div>

</section>
</div>
