<div class="in-info-block">
    <div class="in-intro">Win awesome prices and stand a chance to have your image featured on an Indomie pack.</div>
</div>
<div class="in-info-block">
    <div class="in-steps"><img src="images/step1.png"><h4>Tell Your Story</h4>In 90 characters, tell the world why you rock: why you are like no other</div>
    <div class="in-steps"><img src="images/step2.png"><h4>Create Your Avatar</h4>Create a unique customised avatar that represents your awesomeness</div>
    <div class="in-steps"><img src="images/step3.png"><h4>Share with Friends</h4>Share your awesomness with the world and invite friends to vote for you.</div>
    <div class="create-button-container"><a class="in-create-button" ng-href="#/create">Start Now</a></div>
</div>
