<section class="in-create-section" ng-controller="VoteController as vote">
    <p class="in-message">Vote For An Avatar</p>
    <div class="in-voting-area">
        <ul class="in-avatars" >
            <li class="in-avatar" ng-repeat="user in users">
                <img ng-src="images/assets/headers/{{user.Image}}">
                <div class="in-avatar-tag-section">Lawyer Like no other</div>
                <div class="in-avatar-details-section">
                    By:<span ng-bind="user.Name">Jason Omalu</span>
                    <span ng-bind="avatar.details">I'm like no other because I rock the mic like a freaking horse baby</span>

                </div>
                <div class="in-avatar-vote-section">
                   <div class="in-votes">
                       <span class="icon-vote-dark"></span>
                       <span class=in-vote-count"">{{user.Votes}} votes</span>
                   </div>
                    <button class="in-vote-button" ng-click="vote('avatar')">Vote</button>
                </div>
            </li>

        </ul>
    </div>
</section>
