<section class="in-create-section">
    <p class="in-message">Vote For An Avatar</p>
    <div class="in-voting-area">
        <ul class="in-avatars">
            <li class="in-avatar" >
                <img ng-bind="avatar.image" src="">
                <div class="in-avatar-tag-section">Lawyer Like no other</div>
                <div class="in-avatar-details-section">
                    By:<span ng-bind="avatar.name">Jason Omalu</span>
                    <span ng-bind="avatar.details">I'm like no other because I rock the mic like a freaking horse baby</span>

                </div>
                <div class="in-avatar-vote-section">
                   <div class="in-votes">
                       <span class="icon-vote-dark"></span>
                       <span class=in-vote-count"">360 votes</span>
                   </div>
                    <button class="in-vote-button" ng-click="vote('avatar')">Vote</button>
                </div>
            </li>

            <li class="in-avatar" >
                <img ng-bind="avatar.image" src="">
                <div class="in-avatar-tag-section">Lawyer Like no other</div>
                <div class="in-avatar-details-section">
                    By:<span ng-bind="avatar.name">Jason Omalu</span>
                    <span ng-bind="avatar.details">I'm like no other because I rock the mic like a freaking horse baby</span>

                </div>
                <div class="in-avatar-vote-section">
                   <div class="in-votes">
                       <span class="icon-vote-dark"></span>
                       <span class=in-vote-count"">360 votes</span>
                   </div>
                    <button class="in-vote-button" ng-click="vote('avatar')">Vote</button>
                </div>
            </li>

            <li class="in-avatar" >
                <img ng-bind="avatar.image" src="">
                <div class="in-avatar-tag-section">Lawyer Like no other</div>
                <div class="in-avatar-details-section">
                    By:<span ng-bind="avatar.name">Jason Omalu</span>
                    <span ng-bind="avatar.details">I'm like no other because I rock the mic like a freaking horse baby</span>

                </div>
                <div class="in-avatar-vote-section">
                   <div class="in-votes">
                       <span class="icon-vote-dark"></span>
                       <span class=in-vote-count"">360 votes</span>
                   </div>
                    <button class="in-vote-button" ng-click="vote('avatar')">Vote</button>
                </div>
            </li>
        </ul>
    </div>
</section>
